.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.character-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.character-section {
  flex: 1 1 0;
  background-color: hsl(220deg 13% 13%);
  color: white;
  width: 50%;
  border: 1px solid #fff;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}